@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import 'variables';
@import 'navigation/header';
@import 'navigation/sidebar';
@import 'navigation/nav-footer';
@import 'navigation/sidebar-noti';
@import 'contenido';

@import 'auth/login';

body {
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    padding: 10px;
}

body::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: rgb(204, 204, 204);
    background-clip: padding-box;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(180, 180, 180);
}
body::-webkit-scrollbar-thumb:active {
    background-color: var(--primary-color);
    border: 1px solid transparent;
}


img {
    vertical-align: top;
}
